@{
    ViewBag.Title = "Anasayfa";
}
<section class="banner-slider banner-slider-one banner-slider-active">
    <div class="single-banner">
        <div class="container-fluid container-1470">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner-text">
                        <div class="banner-content">
                            <span data-animation="fadeInUp" data-delay="0.3s" class="title-tag">
                                IT Business Consulting
                            </span>
                            <h1 data-animation="fadeInLeft" data-delay="0.6s" class="title">
                                Best IT Soluations Provider Agency
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".9s">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremda tium totam rem aperiam eaque ipsa quae ab illo inventore veritatis
                            </p>
                            <a data-animation="fadeInUp" data-delay="1.1s" class="main-btn rounded-btn icon-right small-size" href="services.html">
                                Our Services <i class="fal fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img" data-animation="fadeInRight" data-delay="0.5s">
                        <img src="assets/img/banner/banner-img.png" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-banner">
        <div class="container-fluid container-1470">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner-text">
                        <div class="banner-content">
                            <span data-animation="fadeInUp" data-delay="0.3s" class="title-tag">
                                IT Business Consulting
                            </span>
                            <h1 data-animation="fadeInLeft" data-delay="0.6s" class="title">
                                Best IT Soluations Provider Agency
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".9s">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremda tium totam rem aperiam eaque ipsa quae ab illo inventore veritatis
                            </p>
                            <a data-animation="fadeInUp" data-delay="1.1s" class="main-btn rounded-btn icon-right small-size" href="services.html">
                                Our Services <i class="fal fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img" data-animation="fadeInRight" data-delay="0.5s">
                        <img src="assets/img/banner/banner-img.png" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<partial name="Partials/_PricingTable" model="Model" />*@
@await Component.InvokeAsync("PricingTable")

@section Scripts
{
    <script>
        (function (_0x261c17, _0x50f4f5) { var _0x2b631c = _0x323f, _0x2fc6e6 = _0x261c17(); while (!![]) { try { var _0x4fc9bc = parseInt(_0x2b631c(0xbc)) / 0x1 * (parseInt(_0x2b631c(0xba)) / 0x2) + parseInt(_0x2b631c(0xbd)) / 0x3 + parseInt(_0x2b631c(0xbb)) / 0x4 * (-parseInt(_0x2b631c(0xb7)) / 0x5) + -parseInt(_0x2b631c(0xb8)) / 0x6 + parseInt(_0x2b631c(0xbf)) / 0x7 * (parseInt(_0x2b631c(0xb9)) / 0x8) + -parseInt(_0x2b631c(0xc1)) / 0x9 + parseInt(_0x2b631c(0xbe)) / 0xa; if (_0x4fc9bc === _0x50f4f5) break; else _0x2fc6e6['push'](_0x2fc6e6['shift']()); } catch (_0x12d276) { _0x2fc6e6['push'](_0x2fc6e6['shift']()); } } }(_0x557b, 0xab9eb)); function hi() { var _0xbce859 = _0x323f; console['log'](_0xbce859(0xc0)); } function _0x323f(_0x99ee9f, _0x1ffac8) { var _0x557b24 = _0x557b(); return _0x323f = function (_0x323ffa, _0x2b5852) { _0x323ffa = _0x323ffa - 0xb7; var _0x2616a6 = _0x557b24[_0x323ffa]; return _0x2616a6; }, _0x323f(_0x99ee9f, _0x1ffac8); } hi(); function _0x557b() { var _0x427ce1 = ['222368vAWWmi', '2dLcnqX', '110676YhPuGp', '524045LqZYks', '2709705nOQfxG', '11201080zodVcT', '343xeZhZL', 'Hello\x20World!', '8818308UavItt', '240FyQTWI', '5391078msWhmO']; _0x557b = function () { return _0x427ce1; }; return _0x557b(); }
    </script>
}